*{
    margin: 0%;
    padding: 0%;
}
.header {
    padding: 0px 10px;
    background: lightblue;
    font-family: sans-serif;
}
ul {
    display: flex; 
}
li {
    padding: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: sans-serif;
    text-align: center;
}
.container {
    display: flex;
    padding: 0% 2%;
    gap: 20px;
    text-align: center;
    font-family: sans-serif;
    justify-content: space-between;
}
.card {
    padding: 2% 0%;
    width: 30%;
    font-weight: bolder;
    height: 25vh;
    background: rgb(233, 225, 152);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
}
header {
    padding: 5%;
}




.active {
    background-color: #f5f265; /* Active link color */
    font-weight: bold; /* Optional: make it bold */
}